<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>雾途餐厅</title>
        <link rel="stylesheet" media="screen" href="styles/wutu.css" />
        <script src="scripts/vue.js"></script>
        <script src="scripts/jquery-2.1.3.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="header">
            </div>
            <div id="main">
                <div id="content">
                    <food-class
                        v-for="foodClass in foodClasses"
                        :id="foodClass.id"
                        :name="foodClass.name"
                        :food-class="foodClass"
                        :key="foodClass.id">
                    </food-class>
                </div>
                <div id="menu">
                    <ul>
                        <li v-for="(item, index) in items">
                            <a
                                :href="'#'+item.id"
                                :class="{ current: item.isActive }"
                                @click="setCurrent(index)">
                                <span>{{ item.name }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="shopping-cart">
                    <div id="clear-shopping-cart">
                        <label>购物车</label>
                        <input type="button" value="[清空]"
                            @click="clearShoppingCart"/>
                    </div>
                    <ul id="cart-list"
                        v-show="showShoppingCart.show">
                        <cart-list-item v-for="(orderLine, index) in orderLines"
                            :order-line="orderLine"
                            :key="index">
                        </cart-list-item>
                    </ul>
                    <div id="cart-total">
                        共<span class="total-number">{{ quantity }}</span>份,
                        总计<span class="total-amount">¥{{ amount }}</span>
                    </div>
                    <div id="cart-icon" @click="showOrHideShoppingCart">
                        <a ><img src="images\cart-icon2.png" alt="购物车" /></a>
                        <input type="button" value="去结算" />
                    </div>
                </div>
            </div>
            <div id="footer">
            </div>
        </div>
        <script src="scripts/wutu.js"></script>
    </body>
</html>